body {
  font-family: 'Kalam', cursive;
  color: #333;
  /*
  font-family: 'Inconsolata', monospace;
  font-family: 'Kalam', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Lacquer', sans-serif
*/
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainOrange;
}
