.generic-content-container {
  
  p {
    font-weight: 300;
    line-height: 1.65;
    margin: .8rem 0 1.8rem 0;

    @mixin atSmall {
      font-size: 1.74rem;
    }
  }

  p a {
    font-weight: 700;
  }

}