.page-section {
  padding: 1.2rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--no-b-padding-until-medium {
    padding-bottom: 0;

    @mixin atMedium {
      padding-bottom: 4.5rem;
    }
  }

  &--no-b-padding-until-large {
    padding-bottom: 0;

    @mixin atLarge {
      padding-bottom: 4.5rem;
    }
  }

  &--blue {
    background-image: linear-gradient(0, rgba(192, 76, 238, 0.36) 0%, rgba(192, 76, 238, 0.36) 25%,rgba(154, 62, 196, 0.36) 25%, rgba(154, 62, 196, 0.36) 50%,rgba(115, 48, 155, 0.36) 50%, rgba(115, 48, 155, 0.36) 75%,rgba(77, 34, 113, 0.36) 75%, rgba(77, 34, 113, 0.36) 100%),linear-gradient(90deg, rgb(100, 57, 225) 0%, rgb(100, 57, 225) 20%,rgb(79, 62, 180) 20%, rgb(79, 62, 180) 40%,rgb(58, 68, 136) 40%, rgb(58, 68, 136) 60%,rgb(36, 73, 91) 60%, rgb(36, 73, 91) 80%,rgb(15, 78, 46) 80%, rgb(15, 78, 46) 100%);
    color: #FFF;
  }

  &--testimonials {
    background-color: #e0e6ef;

    @mixin atLarge {
      &.lazyloaded {
        background: url('../../assets/images/testimonials-bg.jpg') top center no-repeat;
        background-size: cover;
      }
    }
  }

}