.page-section {
  padding: 1.2rem 0;

  @mixin atMedium {
    padding: 2.2rem 0;
  }

  &--no-b-padding-until-medium {
    padding-bottom: 0;

    @mixin atMedium {
      padding-bottom: 4.5rem;
    }
  }

  &--no-b-padding-until-large {
    padding-bottom: 0;

    @mixin atLarge {
      padding-bottom: 4.5rem;
    }
  }

  &--blue {
    background:linear-gradient(45deg, rgba(114, 40, 169,0.2) 0%, rgba(114, 40, 169,0.2) 16.667%,rgba(140, 59, 158,0.2) 16.667%, rgba(140, 59, 158,0.2) 33.334%,rgba(166, 77, 147,0.2) 33.334%, rgba(166, 77, 147,0.2) 50.001%,rgba(245, 133, 115,0.2) 50.001%, rgba(245, 133, 115,0.2) 66.668%,rgba(219, 114, 126,0.2) 66.668%, rgba(219, 114, 126,0.2) 83.335%,rgba(193, 96, 137,0.2) 83.335%, rgba(193, 96, 137,0.2) 100.002%),linear-gradient(22.5deg, rgba(114, 40, 169,0.2) 0%, rgba(114, 40, 169,0.2) 16.667%,rgba(140, 59, 158,0.2) 16.667%, rgba(140, 59, 158,0.2) 33.334%,rgba(166, 77, 147,0.2) 33.334%, rgba(166, 77, 147,0.2) 50.001%,rgba(245, 133, 115,0.2) 50.001%, rgba(245, 133, 115,0.2) 66.668%,rgba(219, 114, 126,0.2) 66.668%, rgba(219, 114, 126,0.2) 83.335%,rgba(193, 96, 137,0.2) 83.335%, rgba(193, 96, 137,0.2) 100.002%),linear-gradient(0deg, rgba(114, 40, 169,0.2) 0%, rgba(114, 40, 169,0.2) 16.667%,rgba(140, 59, 158,0.2) 16.667%, rgba(140, 59, 158,0.2) 33.334%,rgba(166, 77, 147,0.2) 33.334%, rgba(166, 77, 147,0.2) 50.001%,rgba(245, 133, 115,0.2) 50.001%, rgba(245, 133, 115,0.2) 66.668%,rgba(219, 114, 126,0.2) 66.668%, rgba(219, 114, 126,0.2) 83.335%,rgba(193, 96, 137,0.2) 83.335%, rgba(193, 96, 137,0.2) 100.002%),linear-gradient(90deg, rgb(55, 55, 55),rgb(181, 181, 181));
    color: #FFF;
  }

  &--testimonials {
    background-color: #e0e6ef;

    @mixin atLarge {
      &.lazyloaded {
        background: url('../../assets/images/testimonials-bg.jpg') top center no-repeat;
        background-size: cover;
      }
    }
  }

}